.grid {
  display: grid;
  gap: var(--space-lg);
  margin-top: var(--space-xl);
  grid-template-columns: 1fr;
}

@media (min-width: 481px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1025px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}